/* http://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .navbar-brand {

    padding-top: 5px;
}

.navbar-fixed-top .navbar-brand img {
    height: 40px;
    padding-right: 10px;
}

.carousel-inner > .item > img {
/*    position: absolute; */
    left: 0;
    min-width: 100%;
    height: auto;
}

.sidebar {
    background-color: #e9e6df;
}

.ftr {
    margin-top: 50px;
}

.intro {
    margin-left: -30px;
}

.center-text {
    text-align: center;
}

.main-page-intro {
    width: 80%;
    min-width: 1170px;
    margin: 0 auto;
}

/* NEW DESIGN STYLES */

.welcome-block {
    background: url('/images/redesign/welcome_bg.jpg') no-repeat center center;
    background-size: cover;
}

.welcome-logo {
    margin: auto;
    padding-top: 10%;
}

.welcome-text {
    color: white;
    margin: 0 auto;
    font-size: 3vw;
    /*font-weight: bold;*/
}

.welcome-text-block {
    padding-top: 5%;
}

.welcome-links {
    padding-top: 5%;
    margin: 0 auto;
}

.welcome-link {
    /*padding-right: 30%;*/
    color:darkgray;
    font-size: 3vw;
    text-align: center;
}

/* unvisited link*/
.welcome-link a:link {
    color: #f99f00;
    text-decoration: none;
}

.welcome-link a {
    color: #f99f00;
    text-decoration: none;

}

.welcome-link a:visited {
    color: #ffcc00;
    text-decoration: none;
}

.welcome-link a:hover {
    color: #f9f900;
    text-decoration: none;
}

.welcome-link:active {
    color: white;

}

.welcome-scroll {
    margin: auto;
    padding-top: 5%;
    width: 2%;
    min-width: 40px;
    color: white;
}
/* GAMES INTRO */
.main-games {
    background: url('/images/redesign/games_bg.jpg') no-repeat center center;
    background-size: cover;
    font-size: 2vw;
    padding: 15px;
    color: white;
}

.BA-block {
    background: url('/images/redesign/BA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.Zerok-block {
    background: url('/images/redesign/ZEROK_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.NOTA-block {
    background: url('/images/redesign/NOTA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.I944-block {
    background: url('/images/redesign/1944_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.XTA-block {
    background: url('/images/redesign/XTA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.TA-block {
    background: url('/images/redesign/TA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    height: 40vh;
}

.btn-download {
    padding: 0.6vh !important;
    border: 0.4vh solid !important;
    font-size: 2vh !important;
    border-radius: 50px 50px 50px 50px !important;
    color: white !important;
}

.games-link a:link {
    color: white;
}

.games-link a {
    font-size: 3vh;
    color: white;
}

.games-link a:visited {
    color: lightgray;
}

.games-link a:hover {
    color: #f9f900;
}

.games-link:active {
    color: white;
}

.whitehr {
    color: rgba(27, 24, 24, 0);
    background: rgba(26, 23, 23, 0);
    width: 100%;
    height: 3px;
}

.games-text {
    font-size: 2.5vh;
    color: white;
}

.games-text h3{
    font-size: 4vh;
    color: white;
}

.img-games{
    height: 4vh;
}
/* END GAMES INTRO */

/* MAIN INTRO */
.main-intro-text {
    font-size: 1vw;
    color: black;
}

.h8-green {
    font-size: 3vw;
    color: green;
}

.main-intro-link a:link {
    color: green;
}

.main-intro-link a {
    font-size: 2vw;
    color: green;
}

.main-intro-link a:visited {
    color: lightgreen;
}

.main-intro-link a:hover {
    color: darkgreen;
}

.main-intro-link:active {
    color: green;
}

/* END MAIN INTRO*/

/* NEWS */
.news-block {
    margin: 15px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    outline: 1px solid lightgray;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: normal;
    height: 2vw;
    font-size: 1vw;
    border-radius: 50px 50px 50px 50px;
 }

.greenhr {
    color: green;
    background: green;
    width: 100%;
    height: 1px;
}

.news-text {
    font-size: 1vw;
    color: black;
}

.h-green{
    font-size: 2vw;
    color: green;
}

.news-block-time {
    color: #b4b4b4;
}
/* END NEWS */

/* GAMEPAGES*/
.game-page {
    background: url('/images/redesign/games_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2vw;
    color: white;
}

.h7 {
    font-size: 4vw;
    color: white;
}

.h8 {
    font-size: 3vw;
    color: white;
}

.video-container {
    margin: 2vw;
}

.game-page-text {
    font-size: 2vw;
    color: whitesmoke;
}
.game-page-text-min {
    font-size: 1vw;
    color: whitesmoke;
}
/* END GAMEPAGES*/

/* ARTICLES */
.article-page {
    background: url('/images/redesign/games_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2vw;
    color: white;
}

.article-page h3{
    font-size: 3vw;
    color: white;
}
.h7-green {
    font-size: 3.5vw;
    color: green;
}

.h8-black {
    font-size: 3vw;
    color: black;
}

.article-page-text {
    font-size: 2vw;
    color: black;
}
/* END ARTICLES */

/* END OF NEW DESIGN STYLES */

