body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .navbar-brand {
    padding-top: 5px;
}

.navbar-fixed-top .navbar-brand img {
    height: 40px;
    padding-right: 10px;
}

.carousel-inner > .item > img {
/*    position: absolute; */
    left: 0;
    min-width: 100%;
    height: auto;
}

.sidebar {
    background-color: #e9e6df;
}

.ftr {
    margin-top: 50px;
}

.intro {
    margin-left: -30px;
}

.center-text {
    text-align: center;
}

.main-page-intro {
    width: 80%;
    min-width: 1170px;
    margin: 0 auto;
}

/* NEW DESIGN STYLES */

.welcome-block {
    background: url('/images/redesign/welcome_bg.jpg') no-repeat center center;
    background-size: cover;
}

.welcome-logo {
    margin: auto;
    padding-top: 10%;
}

.welcome-text {
    color: white;
    margin: 0 auto;
    font-size: 3vw;
    /*font-weight: bold;*/
}

.welcome-text-block {
    padding-top: 5%;
}

.welcome-links {
    padding-top: 5%;
    margin: 0 auto;
}

.welcome-link {
    /*padding-right: 30%;*/
    color:darkgray;
    font-size: 3vw;
    text-align: center;
}

/* unvisited link*/
.welcome-link a:link {
    color: white;
}

.welcome-link a {
    color: white;

}

.welcome-link a:visited {
    color: lightgray;

}

.welcome-link a:hover {
    color: #f9f900;

}

.welcome-link:active {
    color: white;

}

.welcome-scroll {
    margin: auto;
    padding-top: 5%;
    width: 2%;
    min-width: 40px;
    color: white;
}
/* GAMES INTRO */
.main-intro {
    background: url('/images/redesign/games_bg.jpg') no-repeat center center;
    background-size: cover;
    font-size: 20px;
    padding: 15px;
    color: white;
}

.BA-block {
    background: url('/images/redesign/BA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
}

.Zerok-block {
    background: url('/images/redesign/ZEROK_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
}

.NOTA-block {
    background: url('/images/redesign/NOTA_bg.jpg') no-repeat center center;
    background-size: cover;
    font-size: 16px;
    padding: 2%;
    margin: 2%;
}

.I944-block {
    background: url('/images/redesign/1944_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
}

.XTA-block {
    background: url('/images/redesign/XTA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
}

.TA-block {
    background: url('/images/redesign/TA_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2%;
    margin: 2%;
    /*height: 110%;*/
}

.games-link a:link {
    color: white;
}

.games-link a {
    font-size: 20px;
    color: white;
}

.games-link a:visited {
    color: lightgray;
}

.games-link a:hover {
    color: #f9f900;
}

.games-link:active {
    color: white;
}

.whitehr {
    color: rgba(27, 24, 24, 0);
    background: rgba(26, 23, 23, 0);
    width: 100%;
    height: 3px;
}

.games-text {
    font-size: 16px;
    color: white;
}
/* END GAMES INTRO */
/* NEWS */
.news-block {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    outline: 1px solid lightgray;
}
.news {
    padding: 15px;
}
.greenhr {
    color: green;
    background: green;
    margin-left: -5%;
    width: 110%;
    height: 1px;
}

.news-text {
    max-font-size: 1vw;
    color: black;
}

.news h1, h2, h3{
    font-size: 20px;
    color: green;
}

.news-block-time {
    color: #b4b4b4;
}
/* END NEWS */
/* END OF NEW DESIGN STYLES */

