body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .navbar-brand {
    padding-top: 5px;
}

.navbar-fixed-top .navbar-brand img {
    height: 40px;
    padding-right: 10px;
}

.carousel-inner > .item > img {
/*    position: absolute; */
    left: 0;
    min-width: 100%;
    height: auto;
}

.sidebar {
    background-color: #e9e6df;
}

.ftr {
    margin-top: 50px;
}

.intro {
    margin-left: -30px;
}

.bighr {
    color: #1b1818;
    background: #1b1818;
    width: 100%;
    height: 3px;
}

.center-text {
    text-align: center;
}

.main-page-intro {
    width: 80%;
    min-width: 1170px;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1170px;
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        float: left;
    }
    .col-lg-1 {
        width: 8.333333333333332%;
    }
    .col-lg-2 {
        width: 16.666666666666664%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333333333%;
    }
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333333333336%;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333333334%;
    }
    .col-lg-11 {
        width: 91.66666666666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-push-1 {
        left: 8.333333333333332%;
    }
    .col-lg-push-2 {
        left: 16.666666666666664%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-4 {
        left: 33.33333333333333%;
    }
    .col-lg-push-5 {
        left: 41.66666666666667%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-7 {
        left: 58.333333333333336%;
    }
    .col-lg-push-8 {
        left: 66.66666666666666%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-10 {
        left: 83.33333333333334%;
    }
    .col-lg-push-11 {
        left: 91.66666666666666%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-pull-1 {
        right: 8.333333333333332%;
    }
    .col-lg-pull-2 {
        right: 16.666666666666664%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-4 {
        right: 33.33333333333333%;
    }
    .col-lg-pull-5 {
        right: 41.66666666666667%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-7 {
        right: 58.333333333333336%;
    }
    .col-lg-pull-8 {
        right: 66.66666666666666%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-10 {
        right: 83.33333333333334%;
    }
    .col-lg-pull-11 {
        right: 91.66666666666666%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
    .col-lg-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-lg-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
